#blog {
  display: grid;
  place-items: center;
  grid-template-areas:
    "header main"
    "footer footer";

  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 20rem;
    font-family: var(--sans);
    height: fit-content;
    margin-right: 2rem;

    h1 {
      font-size: 5rem;
      border-left: 10px solid var(--main);
      padding-left: 1rem;
      font-family: var(--slab);
    }

    h2 {
      margin-top: 1rem;
      color: var(--gray);
      font-size: 1.25rem;
    }
  }

  main {
    grid-area: main;

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      border-radius: 1rem;
      border-left: 10px solid var(--main);
      padding: 2rem;
      background: linear-gradient(90deg, var(--black) 0%, transparent 50%);
      display: flex;
      flex-direction: column;
      margin: 2rem;
      font-family: var(--sans);

      a {
        font-size: 2rem;
        font-family: var(--slab);
      }

      time {
        color: var(--gray);
      }
    }
  }

  footer {
    grid-area: footer;

    & > a {
      width: fit-content;
      border: 1px solid var(--gray);
      margin-top: 1rem;
      padding: 1rem;
      color: var(--gray);
      border-radius: 0.5rem;
      transition-duration: 100ms;
    }

    & > a:hover {
      color: var(--white);
      border-color: var(--white);
    }
  }

  @media (max-width: 768px) {
    body {
      grid-template-areas:
        "header"
        "main"
        "footer";
    }

    header {
      width: 100%;
    }
  }
}
