#blog {
  margin: 5rem 0;
  display: grid;
  place-items: center;
  grid-template-areas:
    "header main"
    "footer footer";

  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 15rem;
    font-family: var(--sans);
    height: fit-content;
    margin-right: 2rem;
    gap: 1rem;

    h1 {
      font-size: 3rem;
      border-left: 10px solid var(--main);
      padding-left: 1rem;
      font-family: var(--slab);
    }

    h2 {
      color: var(--gray);
      font-size: 0.75rem;
    }

    a {
      color: var(--gray);
      font-size: 1rem;
      font-family: var(--slab);
      font-weight: bold;
      transition-duration: 200ms;

      &::before {
        color: var(--gray);
        font-weight: bold;
        content: '> ';
      }

      &:hover {
        color: var(--foreground);

        &::before {
          color: var(--main);
        }
      }
    }
  }

  main {
    grid-area: main;
    width: 35rem;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }

    li {
      border-left: 5px solid var(--main);
      padding: 0.5rem;
      background: linear-gradient(90deg, var(--black) 0%, transparent 50%);
      display: flex;
      align-items: center;
      font-family: var(--sans);

      a {
        font-size: 1rem;
        font-family: var(--slab);
      }

      time {
        width: 25%;
        font-size: 0.75rem;
        color: var(--gray);
      }
    }
  }

  footer {
    grid-area: footer;

    &>a {
      width: fit-content;
      border: 1px solid var(--gray);
      margin-top: 1rem;
      padding: 1rem;
      color: var(--gray);
      border-radius: 0.5rem;
      transition-duration: 100ms;
    }

    &>a:hover {
      color: var(--white);
      border-color: var(--white);
    }
  }

  @media (max-width: 768px) {
    grid-template-areas:
      "header"
      "main"
      "footer";

    gap: 2rem;
    margin-top: 3rem;

    header {
      padding: 0;
      width: 60%;
      align-items: center;
      text-align: center;
      margin-right: 0;

      h1 {
        font-size: 10rem;
        line-height: 1;
        border-left: none;
        padding-left: 0;
        border-bottom: 10px solid var(--main);
      }

      h2 {
        font-size: 1rem;
        margin-top: 1rem;
      }

      a {
        order: 1;
        font-size: 1.5rem;
      }
    }

    main {
      width: 80%;

      ul {
        gap: 1rem;

        li {
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem;
          padding-left: 0.5rem;

          time {
            width: 100%;
          }

          a {
            font-size: 1.25rem;
            width: 100%;
          }
        }
      }
    }
  }
}