#home {
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    section {
      display: flex;
      flex-direction: column;

      h1 {
        font-family: var(--slab);
        font-size: 4rem;
        border-left: 10px solid var(--main);
        padding-left: 1rem;
      }

      span {
        color: var(--gray);
        font-family: var(--sans);
        font-weight: normal;
        font-style: italic;
        font-size: 1.3rem;
        margin-top: 1rem;
      }
    }

    img {
      width: 20rem;
      border-radius: 3rem;
      border: 1px var(--main) solid;
    }
  }

  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    article {
      width: 60%;
      padding: 2rem;
      background-color: var(--black);
      border: 1px var(--gray) solid;
      border-radius: 3rem;

      p {
        font-family: var(--serif);
        line-height: 1.7;
        margin: 1rem 0;

        a {
          border-bottom: 3px solid var(--main);
        }

        &::first-letter {
          font-size: 1.4rem;
          line-height: 1rem;
        }
      }
    }

    nav {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      a {
        font-family: var(--sans);
        font-size: 2.5rem;
        font-family: var(--slab);

        &:first-of-type {
          margin-bottom: 3rem;
        }

        &::before {
          content: '>';
          color: var(--main);
          font-family: var(--slab);
          margin-right: 0.5rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    header {
      align-items: center;
      flex-direction: column;
      
      section {
        margin: 2rem 0;
        align-items: center;

        h1 {
          font-size: 3rem;
          border-left: none;
          border-bottom: 3px solid var(--main);
          padding-left: 0;
        }

        h2 {
          color: var(--gray);
          font-family: var(--sans);
          font-weight: normal;
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }
      }
    }

    main {
      flex-direction: column-reverse;
      margin: 0;

      article {
        width: 100%;
        border-radius: 0;
        border: none;
        background-color: transparent;

        p {
          font-size: 1.1rem;
        }
      }

      nav {
        width: 100%;
        margin: 3rem 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        a {
          border-bottom: 3px solid var(--main);

          &:first-of-type {
            margin-bottom: 0rem;
          }

          &::before {
            content: '';
            margin-right: 0;
          }
        }
      }
    }
  }
}
