#home {
  display: flex;
  gap: var(--size__3);
  width: 40rem;
  margin: 2rem 0;

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size__3);

    section {
      display: flex;
      flex-direction: column;

      span {
        padding-left: 0.5rem;
        border-left: var(--border__big);
        color: var(--color__500);
        font-family: var(--font__body);
        font-weight: normal;
        font-style: italic;
        font-size: var(--font-size__1);
      }
    }

    article {
      border-radius: 1rem;

      div {
        display: flex;
        flex-direction: column;
        gap: var(--size__1);
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--size__3);
    justify-content: flex-start;

    img {
      width: 10rem;
      border-radius: 1rem;
      border: 1px var(--color__accent) solid;
    }

    nav {
      width: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      a {
        font-family: var(--font__heading);
        font-size: var(--font-size__2);

        &:hover::after {
          margin-left: 1rem;
        }

        &::after {
          content: '<';
          color: var(--color__primary);
          font-family: var(--font__heading);
          margin-left: 0.5rem;
          transition-duration: 200ms;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    width: 80%;
    flex-direction: column-reverse;
    gap: 0;

    aside {
      align-items: center;

      img {
        width: 15rem;
      }

      nav {
        width: 100%;
        margin-bottom: 2rem;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        a {
          text-decoration: underline 3px var(--color__primary);

          &:first-of-type {
            margin-bottom: 0rem;
          }

          &::after {
            content: '';
            margin-left: 0;
          }
        }
      }
    }

    main {
      align-items: center;

      section {
        align-items: center;

        h1 {
          font-size: 2.5rem;
          padding: 0;
          border-left: none;
        }

        span {
          font-size: 1rem;
          padding: 0;
          border: none;
          color: var(--gray);
          font-family: var(--font__body);
          font-weight: normal;
        }
      }

      article {
        width: 100%;

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
