#home {
  display: flex;
  gap: 5rem;
  width: 60%;
  margin: 2rem 0;

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    section {
      display: flex;
      flex-direction: column;

      h1 {
        font-family: var(--slab);
        font-size: var(--size__title);
        font-weight: 600;
        border-left: 5px solid var(--main);
        padding-left: 0.5rem;
      }

      span {
        padding-left: 0.5rem;
        border-left: 5px solid var(--main);
        color: var(--gray);
        font-family: var(--sans);
        font-weight: normal;
        font-style: italic;
        font-size: var(--size__base);
      }
    }

    article {
      border-radius: 1rem;

      p {
        font-family: var(--sans);
        line-height: var(--line-height);
        font-size: var(--size__base);
        font-weight: 300;
        text-align: justify;
        hyphens: auto;
        margin: 1rem 0;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          text-decoration: underline 2px var(--foreground);
        }
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
    justify-content: flex-start;

    img {
      width: 10rem;
      border-radius: 1rem;
      border: 1px var(--main) solid;
    }

    nav {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 0.25rem;

      a {
        font-family: var(--slab);
        font-size: var(--size__big);
        font-weight: 600;

        &::after {
          content: '<';
          color: var(--main);
          font-family: var(--slab);
          margin-left: 0.5rem;
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 80%;
    flex-direction: column-reverse;
    gap: 0;

    aside {
      align-items: center;

      img {
        width: 15rem;
      }

      nav {
        width: 100%;
        margin-bottom: 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        a {
          text-decoration: underline 3px var(--main);

          &:first-of-type {
            margin-bottom: 0rem;
          }

          &::after {
            content: '';
            margin-left: 0;
          }
        }
      }
    }

    main {
      align-items: center;

      section {
        align-items: center;

        h1 {
          font-size: 2.5rem;
          padding: 0;
          border-left: none;
        }
        
        span {
          font-size: 1rem;
          padding: 0;
          border: none;
          color: var(--gray);
          font-family: var(--sans);
          font-weight: normal;
        }
      }

      article {
        width: 100%;

        p {
          font-size: 1rem;
        }
      }
    }
  }

}