#portfolio {
  header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    h1 {
      font-size: 3rem;
      border-left: 10px solid var(--main);
      padding-left: 1rem;
      font-family: var(--slab);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: var(--gray);
      border: none;
      font-size: 1rem;
      font-family: var(--sans);
      cursor: pointer;
      border: 1px solid var(--gray);
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      transition-duration: 200ms;

      &:hover {
        border-color: var(--white);
        color: var(--white);
      }
    }
  }
}
