#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;

  header {
    width: calc(50rem + 2 * var(--size__1));
    padding: var(--size__1);
    border-radius: calc(var(--size__2) + var(--size__1)) 0
      calc(var(--size__2) + var(--size__1)) 0;

    background-color: var(--color__800);

    @media (prefers-color-scheme: light) {
      background-color: var(--color__700);
    }

    margin-top: var(--size__1);
    display: grid;
    gap: 0 var(--size__1);
    grid-template-areas:
      'img nome      contato'
      'img objetivos objetivos';

    address {
      grid-area: contato;
      justify-self: end;

      display: flex;
      flex-direction: column;
      border-left: var(--border__regular);
      padding-left: var(--size__05);

      a,
      span {
        color: var(--color__text);
        font-family: var(--font__body);
        font-style: normal;
        font-weight: normal;
      }

      a {
        text-decoration: underline solid 2px var(--color__primary);

        &::before {
          all: unset;
        }
      }
    }

    h1 {
      grid-area: nome;
      border-left: none;
      padding-left: 0;
      font-size: var(--font-size__4);
      line-height: var(--font-size__4);
    }

    img {
      grid-area: img;
      object-position: center 25%;
      border-radius: var(--size__2) 0 var(--size__2) 0;
      object-fit: cover;
      width: 200px;
      height: 200px;
    }

    div {
      grid-area: objetivos;

      h2 {
        font-size: var(--font-size__2);
      }

      p {
        line-height: calc(var(--font-size__1) + 0.1rem);
      }
    }
  }

  main > article {
    p {
      margin-top: var(--size__1);
    }

    h3 {
      margin-top: var(--size__2);
    }

    h2 {
      margin-top: var(--size__3);
    }

    ol {
      margin-top: 0;
    }

    ul {
      margin-top: var(--size__1);
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--size__3) 0;

    span {
      font-family: var(--font__body);
    }

    kbd {
      border: solid 1px var(--color__text);
      padding: 3px;
      border-radius: 3px;
    }

    a {
      color: var(--color__500);
      font-size: var(--font-size__1);
      font-family: var(--font__heading);
      font-weight: bold;
      transition-duration: 200ms;
      text-decoration: none;

      &::before {
        color: var(--color__500);
        font-weight: bold;
        content: '>';
        margin-right: var(--size__05);
        transition-duration: 200ms;
      }

      &:hover {
        color: var(--color__text);
        text-decoration: none;

        &::before {
          margin-right: var(--size__1);
          color: var(--color__primary);
        }
      }
    }
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  :root {
    --color__text: black;
    --color__background: white;
  }

  /* html {
    background-color: hsl(0, 0%, 30%);
  } */

  div.page-break {
    break-after: page;
  }

  #resume {
    width: 210mm;
    margin: var(--size__1);
    background-color: white;

    h2,
    h3 {
      font-family: 'Cooper Hewitt';
      text-decoration: none;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: normal;
      line-height: 1;

      &::before {
        content: none;
      }
    }

    h2 {
      color: var(--color__secondary);
    }

    h3 {
      color: var(--color__accent);
    }

    p,
    li {
      font-family: 'Inter';
      font-weight: 200;
      letter-spacing: -0.02em;
      word-spacing: -0.1em;
      line-height: 1.2;

      strong {
        font-weight: normal;
      }
    }
  }

  #resume > header {
    width: 100%;
    margin-top: 0;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0 0 2px hsl(0, 0%, 80%);

    address :is(a, span) {
      font-weight: 200;
      font-family: 'Inter';
      letter-spacing: -0.02em;
      text-decoration-thickness: 1px;
    }

    h1 {
      font-family: 'Inter';
      color: var(--color__primary);
      font-weight: 700;
      letter-spacing: -0.01em;
    }
  }

  #resume > footer {
    display: none;
  }

  #resume > main > article {
    margin: 0 var(--size__2);

    h2,
    h3 {
      margin-top: var(--size__2);

      & + p {
        margin-top: 0;
      }
    }

    h2#histórico-profissional {
      padding-top: var(--size__2);
    }

    h2#outras-experiências + ul > li {
      list-style: none;
      margin-left: 0;
    }

    h3#iomkt-digital {
      padding-top: var(--size__2);
    }

    h2 + ul {
      margin-top: 0;
    }

    h3 {
      margin-top: var(--size__3);
    }

    ul {
      margin-top: var(--size__1);
    }

    ul > li {
      margin-left: var(--size__1);

      &::marker {
        content: unset;
        color: black;
      }
    }

    ol > li {
      list-style: none;

      code {
        font-size: var(--font-size__05);
        line-height: 0.5rem;
        font-family: 'JetBrains Mono';
      }
    }
  }
}
