/** Monospace */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

/** Sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/** Serif */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/** Display */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

:root {
  --bg_h: #1d2021;
  --bg: #282828;
  --bg_s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;

  --red_dim: #cc2412;
  --green_dim: #98971a;
  --yellow_dim: #d79921;
  --blue_dim: #458588;
  --purple_dim: #b16286;
  --aqua_dim: #689d6a;
  --gray_dim: #a89984;
  --orange_dim: #d65d0e;
}

:root {
  --mono: "JetBrains Mono", monospace;
  --sans: "Open Sans", sans-serif;
  --serif: "Noto Serif", serif;
  --display: "Poppins", serif;

  --black: var(--bg_h);
  --dark_gray: var(--bg);
  --light-gray: var(--fg4);
  --white: var(--fg);

  --main: var(--red_dim);
  --foreground: var(--white);
  --background: var(--black);

  --size__base: 1rem;
  --size__small: calc(0.8 * var(--size__base));
  --size__big: calc(1.6 * var(--size__base));
  --size__bigger: calc(2 * var(--size__base));
  --size__title: calc(2.5 * var(--size__base));
  --line-height: 1.8rem;

  --border__regular: 5px solid var(--main);
  --border__big: 10px solid var(--main);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--white);
  font-weight: normal;
}

*::selection {
  color: var(--white);
  background-color: var(--main);
}

html,
body,
div#__nuxt {
  margin: 0 auto;

  min-height: 100%;
  max-width: 70rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

html {
  background-color: var(--dark_gray);
}

h1 {
  font-family: var(--display);
  font-size: var(--size__title);
  font-weight: 600;
  border-left: var(--border__big);
  padding-left: 0.5rem;
}

h2 {
  text-decoration: underline;
  text-decoration-color: var(--main);
  text-decoration-thickness: 5px;
  margin-top: 2rem;
  margin-bottom: 1rem;

  a {
    font-family: var(--display);
    font-size: var(--size__bigger);
    font-weight: 600;
  }
}

h3 {
  margin-bottom: 2rem;

  a {
    font-family: var(--display);
    font-size: var(--size__bigger);
    font-weight: 600;

    &::before {
      content: "> ";
      color: var(--main);
      font-weight: bold;
    }
  }
}

h4 {
  margin-bottom: 2rem;
  border-left: 5px solid var(--main);
  padding-left: 0.5rem;

  a {
    font-family: var(--display);
    font-size: var(--size__bigger);
    font-weight: 600;
  }
}

p {
  font-family: var(--sans);
  line-height: var(--line-height);
  font-size: var(--size__base);
  font-weight: 300;
  text-align: justify;
  hyphens: auto;
  margin: 1rem 0;

  &:first-of-type {
    margin-top: 0;
  }

  & + p {
    margin-top: 2rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

abbr {
  font-weight: inherit;
  text-decoration: dotted underline 1px;
}

strong {
  color: inherit;
  font-weight: bold;
}

em {
  color: inherit;
  font-weight: inherit;
}

:not(h1, h2, h3, h4, nav) > a {
  font-weight: bold;
  color: var(--orange);

  &:hover {
    color: var(--yellow);
  }
}

pre {
  span {
    font-family: var(--mono);
    letter-spacing: -0.07rem;
  }
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}


ol li {
  list-style: decimal;
}

ul li::marker {
  content: "> ";
  color: var(--yellow);
  font-weight: bold;
}

li {
  margin: 0.5rem 0;
  font-size: var(--size__base);
  font-weight: 300;
  hyphens: auto;

  &::marker {
    font-family: var(--mono), monospace;
    font-weight: bold;
    color: var(--yellow);
  }

  & > a {
    color: var(--orange);

    &:hover {
      color: var(--yellow);
    }
  }
}

:is(article, section) > ol,
:is(article, section) > ul {
  padding-left: 2rem;
  margin: 2rem 0;

  li {
    &::marker {
      color: var(--orange);
    }
  }

  ol,
  ul {
    padding-left: 2rem;
    margin: 0.5rem 0;

    ol,
    ul {
      padding-left: 4rem;
      margin: 0.5rem 0;

      li::marker {
        color: var(--red);
      }
    }
  }
}

blockquote {
  background-color: var(--bg);
  width: 70%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.5rem;

  p {
    margin: 0;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-family: var(--sans);
    line-height: var(--line-height);
    font-size: var(--size__base);
    hyphens: auto;
  }

  &::before,
  &::after {
    display: block;
    position: relative;
    background-color: transparent;
    color: var(--bg2);
    font-size: 3rem;
    height: 1rem;
    line-height: 0;
  }

  &::before {
    content: "“";
    float: left;
    transform: translate(-0.7rem, 0.5rem);
  }

  &::after {
    content: "”";
    float: right;
    transform: translate(0.5rem, 0.7rem);
  }
}

header > a {
  color: var(--gray);
  font-size: var(--size__big);
  font-family: var(--display);
  font-weight: bold;
  text-align: center;
  transition-duration: 200ms;

  &::before {
    color: var(--gray);
    font-weight: bold;
    content: "> ";
  }

  &:hover {
    color: var(--foreground);

    &::before {
      color: var(--main);
    }
  }
}